
.classification-low {
	border-radius: 4px;
	border: 3px solid #95c12d;
	background: #95c12d;
	color: white;
}

.classification-medium {
	border-radius: 4px;
	border: 3px solid #F0BE1B;
	background: #F0BE1B;
	color: white;
}

.classification-high {
	border-radius: 4px;
	border: 3px solid #d65a34;
	background: #d65a34;
	color: white;
}